{% extends "FrontendBundle::base.html.twig" %}

{% form_theme register_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3>Log In</h3>
            {% if loginError is defined and loginError != null %}
                <div class="alert alert-danger">
                    {{ loginError }}
                </div>
            {% endif %}
            <form action="{{ path("login_check") }}" method="POST">
                <div class="form-group">
                    <label for="username">Email Address</label>
                    <input type="email" class="form-control" name="_username" required="required" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="_password" class="form-control" required="required" />
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <h3>New User</h3>
            {% if error is defined and error != null %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            {{ form_start(register_form) }}
            {{ form_widget(register_form) }}
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
            {{ form_end(register_form) }}
        </div>
    </div>
{% endblock %}